/* 消除这些元素的默认边框边距等 */
h1,
h2,
h3,
h4,
p,
ul,
input{
    margin: 0;
    padding: 0;
}
/* 去掉无序列表自带的圆点 */
li{
    list-style: none;
}
/* 去点a标签自带的下划线 */
a{
    text-decoration: none;
}
/* 游戏界面总的大小 */
.bgbox{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,0);
    width: 789px;
    height: 561px;
    /* background-color: pink; */
    background-image: url(../imagines/map.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    /* margin: 0 auto; */
}
/* 玩家1的头像设置 */
.bgbox .role1 .img1{
    display: inline-block;
    width: 40px;
    height: 40px;
    /* background-color: greenyellow; */
    background-color: #fff;
    background-image: url(../imagines/role1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border: 2px solid rgb(255, 170, 0);
    border-radius: 50%;
    position: relative;
    left: 5px;
    top: 6px;
    z-index: 10;
}
/* 玩家1的名称设置 */
.bgbox .role1 .name1{
    display: inline-block;
    width: 125px;
    height: 34px;
    background-color: #fcf6ea;
    border: 2px solid #bbb;
    position: relative;
    left: -10px;
    top: -20px;
    border-radius: 15px;
    font-size: 12px;
    text-align: center;
    z-index: 8;
}
/* 玩家1打卡点的设置 */
/* .bgbox .role1 .daka1 li{
    float: left;
    width: 20px;
    height: 20px;
    background-color: #c0c0b2;
    border-radius: 50%;
    position: relative;
    left: 133px;
    top: -8px;
    box-shadow: 0 2px 6px 0 #000;
    margin-right: 5px;
} */
/* 玩家2的头像设置 */
.bgbox .role2 .img2{
    display: inline-block;
    width: 40px;
    height: 40px;
    /* background-color: greenyellow; */
    background-color: #fff;
    background-image: url(../imagines/role2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border: 2px solid rgb(255, 170, 0);
    border-radius: 50%;
    position: relative;
    left: -39px;
    top: -13px;
    z-index: 10;
}
/* 玩家2的名称设置 */
.bgbox .role2 .name2{
    display: inline-block;
    width: 125px;
    height: 34px;
    background-color: #fcf6ea;
    border: 2px solid #bbb;
    position: relative;
    left: -53px;
    top: -39px;
    border-radius: 15px;
    font-size: 12px;
    text-align: center;
    z-index: 8;
}
/* 玩家2打卡点的设置 */
/* .bgbox .role2 .daka2 li{
    float: left;
    width: 20px;
    height: 20px;
    background-color: #c0c0b2;
    border-radius: 50%;
    position: relative;
    left: 133px;
    top: -8px;
    box-shadow: 0 2px 6px 0 #000;
    margin-right: 5px;
} */
/* 玩家1和玩家2打卡点设置 */
.bgbox .daka1 li,.bgbox .daka2 li{
    float: left;
    width: 20px;
    height: 20px;
    background-color: #c0c0b2;
    border-radius: 50%;
    position: relative;
    left: 133px;
    top: -13px;
    box-shadow: 0 2px 6px 0 #000;
    margin-right: 5px;
}
/* 设置打卡点名称的位置和颜色 */
.bgbox .name3{
    text-align: center;
    position: relative;
    left: -52px;
    top: -122px;
    color: rgb(8,8,8);
}
/* 地图上玩家1初始位置 */
.bgbox .mr1 img{
    position: relative;
    float: left;
    width: 45px;
    height: 55px;
    left: 691px;
    /* bottom: -36px; */
    top: 37px;
    z-index: 10;
}
/* 地图上玩家2初始位置 */
.bgbox .mr2 img{
    position: relative;
    float: left;
    width: 45px;
    height: 55px;
    left: 722px;
    top: -32px;
    /* bottom: 33px; */
    z-index: 10;
}
/* 随机事件的位置 */
.bgbox .suiji .one{
    float: right;
    position: relative;
    left: -55px;
    top: -41px;
}
.bgbox .suiji .two{
    float: right;
    position: relative;
    left: -149px;
    top: -25px;
}
.bgbox .suiji .three{
    float: right;
    position: relative;
    left: -207px;
    top: 38px;
}
.bgbox .suiji .four{
    float: left;
    position: relative;
    left: 263px;
    top: 23px;
}
.bgbox .suiji .five{
    float: left;
    position: relative;
    left: 105px;
    top: 40px;
}
.bgbox .suiji .six{
    float: left;
    position: relative;
    left: 60px;
    top: 132px;
}
.bgbox .suiji .seven{
    float: left;
    position: relative;
    left: 186px;
    top: 201px;
}
.bgbox .suiji .eight{
    float: left;
    position: relative;
    left: 298px;
    bottom: -204px;
}
.bgbox .suiji .nine{
    float: right;
    position: relative;
    left: -124px;
    top: 144px;
}
.bgbox .suiji .ten{
    float: right;
    position: relative;
    left: 44px;
    top: 44px;
}
/* 设置随机事件的背景颜色 */
.bgbox .suiji li:nth-child(-n+10){
    background-color: rgb(194, 240, 242);
    border-radius: 50%;
}
/* 小白站点的位置 */
.bgbox .suiji .bus1{
    float: right;
    position: relative;
    left: -59px;
    top: -3px;
}
.bgbox .suiji .bus2{
    float: left;
    position: relative;
    left: -93px;
    top: 105px;
}
.bgbox .suiji .bus3{
    float: right;
    position: relative;
    left: 18px;
    top: 106px;
}
.bgbox .suiji ul {
    position: relative;
    /* float: left; */
    left: -45px;
}
/* 倒计时 */
.bgbox .time {
    float: left;
    position: relative;
    left: 430px;
    top: 250px;
    width: 50px;
    height: 30px;
    padding-top: 5px;
    background-color: rgb(204, 241, 166);
    text-align: center;
    border-radius: 30%;
    /* display: none; */
}
/* 骰子位置和大小 */
.bgbox .touzi img {
    float: left;
    position: relative;
    left: 360px;
    top: 290px;
    z-index: 11;
}

/* 打卡弹窗灰色背景样式设置 */
.win2-daka {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* 是否要隐藏打卡窗口 */
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 30;    /*背景层*/
    text-align: center;
}
/* 打卡弹窗样式设置 */
.win2-daka .win2-content {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 400px;
    background-color: #fff;
    z-index: 31;
}
/* 游戏结束时灰色背景样式 */
.win1-over {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* 是否要隐藏游戏结束窗口 */
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 20;    /*背景层*/
    text-align: center;
    
}
/* 游戏结束弹窗样式设置 */
.win1-over .win1-content {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 380px;
    background-color: rgb(252, 246, 234);
    border-radius: 20px;
    z-index: 21;
}
/* 游戏结束上窗口样式 */
.win1-over .win1-content .shang {
    width: 360px;
    height: 60px;
    background-color: rgb(158,201,86);
    border-radius: 20px 20px 0 0;
    text-align: center;
    font-size: 34px;
    color: rgb(100,16,19);
}
/* 胜利玩家整个部分样式设置 */
.win1-content .winner {
    width: 360px;
    height: 80px;
}
/* .win1-content .winner .winner-img{
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url(../imagines/role1.png);
    background-repeat: no-repeat;
    background-size: contain;
} */
/* 胜利玩家头像样式设置 */
.win1-content .winner .touxiang1 {
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid rgb(187, 216, 118);
    position: absolute;
    left: 30px;
    top: 100px;
}
/* 胜利玩家昵称样式设置 */
.win1-content .winner .winner-text {
    width: 200px;
    height: 45px;
    background-color: rgb(252, 220, 135);
    /* border: 2px solid #bbb; */
    border-radius: 35px;
    position: absolute;
    left: 100px;
    top: 110px;
    color: red;
}
/* 胜利玩家获得金币样式设置 */
.win1-content .winner .winner-text .jinbi{
    position: absolute;
    left: 65px;
    top: 22px;
}
.win1-content .winner .winner-text .jinbishu{
    position: absolute;
    left: 90px;
    top: 20px;
}
/* 胜利玩家旁边微笑设置 */
.win1-content .winner .winner-text .winner-smile{
    position: absolute;
    left: 210px;
    top: 7px;
}
/* 失败玩家整个部分样式设置 */
.win1-content .loser {
    width: 360px;
    height: 80px;
}
/* 失败玩家头像 */
.win1-content .loser .touxiang2 {
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid rgb(187, 216, 118);
    position: absolute;
    left: 30px;
    top: 190px;
}
/* 失败玩家昵称样式设置 */
.win1-content .loser .loser-text {
    width: 200px;
    height: 45px;
    background-color: rgb(252, 220, 135);
    border-radius: 35px;
    position: absolute;
    left: 100px;
    top: 203px;
}
/* 失败玩家游戏失败文字样式设置 */
.win1-content .loser .loser-text .shibai{
    position: absolute;
    left: 65px;
    top: 22px;
    font-weight: 700;
    /*color: red;*/
}
/* 失败玩家旁边笑脸设置 */
.win1-content .loser .loser-text .loser-smile{
    position: absolute;
    left: 210px;
    top: 7px;
}

/* 返回按钮样式 */
.win1-content .b1 {
    background-color: rgba(158, 201, 86, 1);
    position: absolute;
    left: 145px;
    top: 300px;
    border: 0;
    width: 80px;
    height: 25px;
    font-weight: 700;
}
/* 重新开始游戏样式 */
/*.win1-content .b2 {*/
/*    background-color: rgba(158, 201, 86, 1);*/
/*    position: absolute;*/
/*    left: 210px;*/
/*    top: 300px;*/
/*    border: 0;*/
/*    width: 80px;*/
/*    height: 25px;*/
/*    font-weight: 700;*/
/*}*/
/*弹窗2*/
.win11-over {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* 是否要隐藏游戏结束窗口 */
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 20;    /*背景层*/
    text-align: center;

}
/* 游戏结束弹窗样式设置 */
.win11-over .win11-content {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 380px;
    background-color: rgb(252, 246, 234);
    border-radius: 20px;
    z-index: 21;
}
/* 游戏结束上窗口样式 */
.win11-over .win11-content .shang {
    width: 360px;
    height: 60px;
    background-color: rgb(158,201,86);
    border-radius: 20px 20px 0 0;
    text-align: center;
    font-size: 34px;
    color: rgb(100,16,19);
}
/* 胜利玩家整个部分样式设置 */
.win11-content .winner {
    width: 360px;
    height: 80px;
}
/* .win1-content .winner .winner-img{
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url(../imagines/role1.png);
    background-repeat: no-repeat;
    background-size: contain;
} */
/* 胜利玩家头像样式设置 */
.win11-content .winner .touxiang1 {
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid rgb(187, 216, 118);
    position: absolute;
    left: 30px;
    top: 100px;
}
/* 胜利玩家昵称样式设置 */
.win11-content .winner .winner-text {
    width: 200px;
    height: 45px;
    background-color: rgb(252, 220, 135);
    /* border: 2px solid #bbb; */
    border-radius: 35px;
    position: absolute;
    left: 100px;
    top: 110px;
    color: red;
}
/* 胜利玩家获得金币样式设置 */
.win11-content .winner .winner-text .jinbi{
    position: absolute;
    left: 65px;
    top: 22px;
}
.win11-content .winner .winner-text .jinbishu{
    position: absolute;
    left: 90px;
    top: 20px;
}
/* 胜利玩家旁边微笑设置 */
.win11-content .winner .winner-text .winner-smile{
    position: absolute;
    left: 210px;
    top: 7px;
}
/* 失败玩家整个部分样式设置 */
.win11-content .loser {
    width: 360px;
    height: 80px;
}
/* 失败玩家头像 */
.win11-content .loser .touxiang2 {
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid rgb(187, 216, 118);
    position: absolute;
    left: 30px;
    top: 190px;
}
/* 失败玩家昵称样式设置 */
.win11-content .loser .loser-text {
    width: 200px;
    height: 45px;
    background-color: rgb(252, 220, 135);
    border-radius: 35px;
    position: absolute;
    left: 100px;
    top: 203px;
}
/* 失败玩家游戏失败文字样式设置 */
.win11-content .loser .loser-text .shibai{
    position: absolute;
    left: 65px;
    top: 22px;
    font-weight: 700;
    /*color: red;*/
}
/* 失败玩家旁边笑脸设置 */
.win11-content .loser .loser-text .loser-smile{
    position: absolute;
    left: 210px;
    top: 7px;
}

/* 返回按钮样式 */
.win11-content .b1 {
    background-color: rgba(158, 201, 86, 1);
    position: absolute;
    left: 145px;
    top: 300px;
    border: 0;
    width: 80px;
    height: 25px;
    font-weight: 700;
}
/* 重新开始游戏样式 */
/*.win11-content .b2 {*/
/*    background-color: rgba(158, 201, 86, 1);*/
/*    position: absolute;*/
/*    left: 210px;*/
/*    top: 300px;*/
/*    border: 0;*/
/*    width: 80px;*/
/*    height: 25px;*/
/*    font-weight: 700;*/
/*}*/
/* 随机事件选择弹窗灰色背景样式 */
.suijichoice{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* 是否要隐藏游戏结束窗口 */
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 25;    /*背景层*/
    text-align: center;
}
/* 随机事件选择弹窗的样式设置 */
.suijichoice .suiji-content {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: rgb(252, 246, 234);
    border-radius: 20px;
    z-index: 26;
}
/* 随机事件选择弹窗中顶部的样式设置 */
.suijichoice .suiji-content .suijititle {
    width: 300px;
    height: 50px;
    background-color: rgb(158,201,86);
    border-radius: 20px 20px 0 0;
    text-align: center;
    font-size: 23px;
    line-height: 50px;
}
/* 随机事件选择弹窗中自己的样式设置 */
.suijichoice .suiji-content .ziji {
    width: 200px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    left: 46px;
    top: 40px;
    font-size: 20px;
    line-height: 42px;
}
/* 随机事件选择弹窗中对方的样式设置 */
.suijichoice .suiji-content .duifang {
    width: 200px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    left: 46px;
    top: 80px;
    font-size: 20px;
    line-height: 42px;
}