.homepage {
    width: 789px;
    height: 561px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #d2f09f;
    background-image: url(../imagines/logo.png);
    background-repeat: no-repeat;
    background-position: center top;
}

.up,
.in {
    display: inline-block;
    width: 160px;
    height: 62px;
    line-height: 20px;
    border-radius: 24px;
    background-color: rgba(255, 191, 107, 1);
    text-align: center;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
}

.up {
    position: relative;
    left: 210px;
    top: 430px;
}

.up a {
    display: inline-block;
    width: 129px;
    height: 50px;
    background-image: url(../imagines/注册.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.in {
    position: relative;
    top: 430px;
    left: 280px;
}

.in a {
    display: inline-block;
    width: 129px;
    height: 50px;
    background-image: url(../imagines/登入.png);
    background-position: center center;
    background-repeat: no-repeat;
}

/* 注册弹窗的相关设置 */
.sign_up {
    /* left: 485px; */
    /* top: 326px; */
    margin: 0 auto;
    top: 50%;
    width: 275px;
    height: 300px;
    line-height: 20px;
    border-radius: 26px;
    background-color: rgba(255, 250, 250, 1);
    text-align: center;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(79, 79, 79, 1);
    z-index: 20;
    display: none;
}

/* 密码检验的设置 */
.message {
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 12px;
    color: #999;
    background: url(../imagines/叹号.png) no-repeat left center;
    padding-left: 20px;
}

/* 注册弹窗 关闭图标的设置 */
.homepage .sign_up .close1 {
    width: 25px;
    height: 25px;
    background-image: url(../imagines/关闭2.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 235px;
    bottom: -10px;
    cursor: pointer;
}

/* 注册弹窗的其余元素的相关位置设置 */
.homepage .sign_up .one {
    position: relative;
    left: -8px;
    bottom: -15px;
}

.homepage .sign_up .two {
    position: relative;
    left: -8px;
    bottom: -15px;
}

.homepage .sign_up .three {
    position: relative;
    left: 13px;
    bottom: -15px;
}

.homepage .sign_up .four {
    position: relative;
    left: 13px;
    bottom: -15px;
}

.homepage .sign_up .five {
    position: relative;
    bottom: -45px;
}

/* 登录弹窗的相关设置 */
.sign_in {
    margin: 0 auto;
    width: 275px;
    height: 200px;
    line-height: 20px;
    border-radius: 26px;
    background-color: rgba(255, 250, 250, 1);
    text-align: center;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(79, 79, 79, 1);
    z-index: 21;
    position: relative;
    top: 100px;
    display: none;
}

/* 登录弹窗 关闭图标的设置 */
.homepage .sign_in .close2 {
    width: 25px;
    height: 25px;
    background-image: url(../imagines/关闭2.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 235px;
    bottom: -10px;
    cursor: pointer;
}

/* 登录弹窗其余元素相关位置的设置 */
.homepage .sign_in .in_one {
    position: relative;
    bottom: -10px;
}

.homepage .sign_in .in_two {
    position: relative;
    bottom: -15px;
}

.homepage .sign_in .in_three {
    position: relative;
    bottom: -30px;
}

.wrong {
    background-image: url(../imagines/错误.png);
}

.right {
    background-image: url(../imagines/成功.png);
}